rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /typeracer_scores/{document} {
      allow read, create: if true;
    }
    match /typeracer_rooms/{document} {
      allow read, write: if true;
    }
  }
}
